@{
    ViewData["Title"] = "Home Page";
}

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50" class="body_img">


    <!-- Container (The Band Section text-center) -->
    <div id="band" class="container container1">
        
        <br>
        <div class="row">
            <div class="col-md-6">
                <a class="navbar-brand pad1" href="#"><img class="logo1" src="~/images/Logo.png" /></a>
            </div>
            <div class="col-md-6">
                <div class="text_main">
                    <h3>WELCOME TO OUR SITE</h3>
                    <p>We have created a fictional website special for the management of the licences.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Container (TOUR Section) -->
    <div id="tour" class="bg-1">
        <div class="container">
            <h3 class="text-center">TOUR OF THE SITE</h3>
            <br /><br />
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <h3>How is this site helpful?</h3>

                        <p>This is a platform where the profesors can have the evidence of their students and they can give tasks to a student or to many students.</p>

                        <p>If you are a student it is also helpful because you don't have to see the profesor in person and you know what to do after you receive a notification and a email.</p>


                    </div>
                </div>
                <div class="col-md-4">
                    <div >
                        <h3>What it is new?</h3>
                        <p>We make a new design for you and make a sistem of notification where the students are informed if their are asigned to a new task.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <h3>How you can you make a acount?</h3>
                        <p>All you have to do is to press the button below and to write some of your information and don't forget to mention if you are a student or a profesor. </p>
                    </div>
                    <div class="text-center">
                        <button class="w3-button w3-white w3-border w3-round ">Sign In</button>
                    </div>
                </div>
            </div>

     
        </div>

    
    </div>

    <!-- Container (Contact Section) -->
    <div id="contact" class="container text_main2">
        <h3 class="text-center">Contact us</h3>
        <p class="text-center"><em>We will respond with pleasure</em></p>

        <div class="row">
            <div class="col-md-4">
                <p>If you have any problems write us.</p>
                <p><span class="glyphicon glyphicon-map-marker"></span>Iasi, Romania</p>
                <p><span class="glyphicon glyphicon-phone"></span>Phone: +0715 1515 1515</p>
                <p><span class="glyphicon glyphicon-envelope"></span>Email: LicenceDRIVER@gmail.com</p>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
                <br>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <button class="btn pull-right" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
       
        

    </div>

    <!-- Footer -->
    <footer class="text-center">
        <p>&copy; 2018 - LicenseDRIVER</p>
    </footer>

    

</body>